:root {
  --a49: #A4E4FC;
  --a33: #3CBCFC;
  --a17: #0078F8;
  --a18: #0058F8;
  --a11: #0000FC;
  --a21: #0000BC;
  --a12: #004058;
  --a31: #4428BC;
  --a19: #6844FC;
  --a41: #940084;
  --a21: #E40058;
  --a22: #F83800;
  --a23: #E45C10;
  --a37: #F85898;
  --a20: #D800CC;
  --a51: #A80020;
  --a61: #A81000;
  --a71: #881400;
  --a81: #503000;
  --a42: #58D854;
  --a25: #00B800;
  --a26: #00A800;
  --a27: #00A844;
  --a91: #007800;
  --a10: #006800;
  --a11: #005800;
  --a28: #008888;
  --a01: #7C7C7C;
  --a16: #BCBCBC;
  --a24: #AC7C00;
  --a34: #6888FC;
  --a35: #9878F8;
  --a36: #F878F8;
  --a38: #F87858;
  --a39: #FCA044;
  --a40: #F8B800;
  --a41: #B8F818;
  --a43: #58F898;
  --a44: #00E8D8;
  --a32: #F8F8F8;
  --a48: #FCFCFC;
  --a50: #B8B8F8;
  --a51: #D8B8F8;
  --a53: #F8A4C0;
  --a54: #F0D0B0;
  --a55: #FCE0A8;
  --a56: #F8D878;
  --a60: #00FCFC;
  --a57: #D8F878;
  --a58: #B8F8B8;
  --a59: #B8F8D8;
  --a52: #F8B8F8;
  --a61: #F8D8F8;
  --nesGrey: #787878;
  --trueBlack: #000000;
}