@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One:400|Press+Start+2P:400');
@import url('https://fonts.googleapis.com/css?family=Lobster:400|Cabin:400');
:root {
  /* Define colors as colors */
  /* Level Up Colors */
  --red: #e62e2e;
  --black: #121212;
  --lightGrey: #f2f4f6;
  --grey: #bfbfbf;
  /**** Palette ****/
  /* Mega Man */
  --dodgerBlue: #3cbcfc;
  --skyBlue: #0058F8;
  --blue: #0000FC;
  --mediumBlue: #0000BC;
  /* Crash Man */
  --chocolate: #e45c10;
  --gold: #ac7c00;
  /* Bubble Man */
  --fern: #58D854;
  --green: #007800;
  --darkerGreen: #005800;
  /* Heat Man */
  --khaki: #f8d878;
  --crimson: #e40058;
  --orangeRed: #f83800;
  --orange: #f8b800;
  /* Metal Man */
  --darkerRed: #881400;
  /* Quick Man */
  --darkRed: #a81000;
  /* Wood Man */
  --saddleBrown: #503000;
  --sandyBrown: #fca044;
  /* Flash Man */
  --whiteSmoke: #f8f8f8;
  /* Define colors intentions */
  /* Element Colors */
  --headerBackground: var(--elementBackground);
  --bodyBackground: var(--blue);
  --headlineBackground: var(--black);
  --cardBackground: var(--black);
  --elementBackground: var(--black);
  --buttonBackground: var(--mediumBlue);
  --inputBackground: var(--lightGrey);
  /* Text Colors */
  --buttonText: var(--lightGrey);
  --cardText: var(--lightGrey);
  --headerTextColor: var(--lightGrey);
  --textColor: var(--lightGrey);
  /* Fonty McFontFace */
  --lobster: 'Lobster', sans-serif;
  --cabin: 'Cabin', sans-serif;
  --rubikMono: 'Rubik Mono One', sans-serif;
  --pressStart: 'Press Start 2P', sans-serif;
  --baseFontSize: 80%;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --textSmall: 0.8em;
  /* Shadows and Borders */
  --borderColor: var(--dodgerBlue);
  --boxShadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.5);
  --borderRadius: 0px;
  /* Spacing */
  --containerPadding: 2.5%;
  --headerHeight: 4rem;
  --padSmall: 1rem;
  --padMed: 2rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
}

/*16px*/

body {
  --headingFont: var(--rubikMono);
  --headingBackground: var(--black);
  --textFont: var(--pressStart);
  --border-small: 3px ridge var(--borderColor);
  --border-large: 5px ridge var(--borderColor);
  --buttonText: var(--textColor);
  --danger: var(--red);
  --headingShadow: var(--boxShadow);
  font-family: var(--textFont);
  font-weight: 400;
  line-height: 1.65;
  margin: 0;
  background: var(--bodyBackground);
  color: var(--textColor);
  transition: all .3s ease;
}

header {
  color: var(--headerTextColor);
  background: var(--headerBackground);
  border-bottom: var(--border-large);
  box-shadow: var(--boxShadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeight);
  margin-bottom: 2em;
  padding: 0 var(--containerPadding);
}

a {
  color: var(--headerTextColor);
}

nav a+a {
  margin-left: 10px;
}

footer {
  background: var(--headerBackground);
  color: var(--headerTextColor);
  padding: var(--containerPadding);
  text-align: center;
  border-top: var(--border-large);
}

footer .logo {
  margin-bottom: 1em;
}

footer p {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
  border: var(--border-large);
  background: var(--headingBackground);
  box-shadow: var(--headingShadow);
  padding: .25rem;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

p, form, hr, ul, ol {
  background: var(--elementBackground);
  border: var(--border-large);
  border-radius: 5px;
  box-shadow: var(--boxShadow);
  max-width: 45em;
  margin-bottom: 1.15rem;
  padding: var(--padSmall);
}

form {
  max-width: 40em;
  padding: 3rem;
  margin: 0 auto;
}

form div {
  margin-bottom: .75rem;
}

label {
  display: block;
  margin-bottom: .25rem;
}

input, select {
  background: var(--inputBackground);
  font-size: var(--textSmall);
  padding: 4px 6px;
}

textarea {
  font-size: var(--textSmall);
  padding: 5px;
  width: 100%;
}

button {
  background: var(--buttonBackground);
  border-radius: var(--borderRadius);
  color: var(--buttonText);
  cursor: pointer;
  padding: .5rem .75rem;
}

button.cancel {
  --buttonBackground: var(--danger);
}

button:disabled {
  background: var(--grey);
  cursor: not-allowed;
}

a {
  color: var(--textColor);
  text-decoration: none;
}

p a, blockquote a, a:hover {
  border-bottom: solid 2px var(--borderColor);
}

ul, ol {
  max-width: 40rem;
}

ul li {
  list-style: none;
}

ul li:before {
  content: '';
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  background-image: url('../img/mm1up.png');
  background-size: contain;
  margin-right: var(--padSmall);
}

blockquote {
  background: var(--elementBackground);
  border: var(--border-small);
  border-radius: 3px;
  padding: var(--padSmall);
}

ol {
  padding-left: 4rem;
}

hr {
  border-left: none;
  border-right: none;
  border-radius: 0;
  display: block;
  height: .5rem;
  max-width: 100vw;
}

.small, .text_small {
  font-size: var(--textSmall);
}

.layout {
  padding: 0 var(--containerPadding);
}

/* Grid layouts */

.grid {
  --columns: 2;
  /* Changes to grid at wider screens */
  display: block;
  gap: 2rem;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.col-3 {
  --columns: 3;
}

/* Flex Layouts */

.flex {
  --justifyContent: space-between;
  /* Changes to grid at wider screens */
  display: block;
  justify-content: var(--justifyContent);
}

.logo {
  border: none;
  font-size: var(--baseFontSize);
  margin: 0;
  box-shadow: none;
}

.card {
  background: var(--cardBackground);
  color: var(--cardText);
  border: var(--border-large);
  box-shadow: var(--boxShadow);
  padding: 2rem;
}

.card>*:first-child {
  margin-top: 0;
}

.card>*:last-child {
  margin-bottom: 0;
}

.card>*:not(button) {
  background: none;
  border: var(--border-small);
}

/* Themes */

.theme--bubbleman {
  --bodyBackground: var(--darkerGreen);
  --buttonBackground: var(--green);
  --borderColor: var(--fern);
}

.theme--crashman {
  --bodyBackground: var(--chocolate);
  --buttonBackground: var(--gold);
  --borderColor: var(--gold);
}

.theme--heatman {
  --bodyBackground: var(--crimson);
  --buttonBackground: var(--orangeRed);
  --borderColor: var(--khaki);
}

.theme--metalman {
  --bodyBackground: var(--darkerRed);
  --buttonBackground: var(--darkerRed);
  --borderColor: var(--khaki);
}

.theme--quickman {
  --bodyBackground: var(--darkRed);
  --buttonBackground: var(--darkRed);
  --borderColor: var(--gold);
}

.theme--woodman {
  --bodyBackground: var(--saddleBrown);
  --buttonBackground: var(--gold);
  --borderColor: var(--sandyBrown);
}

.theme--flashman {
  --bodyBackground: var(--mediumBlue);
  --buttonBackground: var(--blue);
  --borderColor: var(--whiteSmoke);
}

.theme--airman {
  --bodyBackground: var(--skyBlue);
  --buttonBackground: var(--skyBlue);
  --borderColor: var(--gold);
}

/* Media Queries */

@media only screen and (min-width: 850px) {
  :root {
    --baseFontSize: 100%;
  }
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}